<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hinglish to English Translator</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div class="container">
        <h1>Hinglish to English Translator</h1>
        <textarea id="hinglishInput" placeholder="Enter Hinglish text here..."></textarea>
        <button onclick="translateText()">Translate</button>
        <p id="translationResult"></p>
    </div>
    <script src="/static/script.js"></script>

</body>
</html>
